<!DOCTYPE html>
<html>
<title>About Us</title>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>
<body>
<h1>About Us</h1>
    <br>

<div>
    <img id="Jonathan_image" src="images/Jonathan.JPG">

</div>
<div class="infoholder">
    <p>Jonathan studied Computer Information Systems at Georgia State University. After recently graduating in 2018, he has been working full time at UPS Supply Chain Solutions.
        In his off time he enjoys working on innovative projects, playing basketball, and coaching little league baseball.
        <br>
        <br>
        More information.....
    </p>
</div>
</body>

<style>
    body {
        margin-left: 5%;
    }

     body div p{
         overflow: hidden;


         alignment: right;
         height:10%;

     }
    body div img {
        margin-left: 10%;
        margin-top: 5%;
        width: 20%;
        -webkit-transform:rotate(90deg);
        border: 1px;
        padding-top: 35px;
        height:100%;
    }
    .infoholder{
        margin-left: 30%;
        margin-top: -15%;
    }
</style>
</html>