<!DOCTYPE html>
<html>
<title>About Us</title>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <meta name="viewport" content=" width=device-width, initial-scale=1">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ReviewU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" placeholder="Search" type="text">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</head>
<body>
<h1>About Us</h1>
    <br>

<div>
    <img id="Jonathan_image" src="images/Jonathan.JPG">

</div>
<div class="infoholder">
    <p>Jonathan studied Computer Information Systems at Georgia State University. After recently graduating in 2018, he has been working full time at UPS Supply Chain Solutions.
        In his off time he enjoys working on innovative projects, playing basketball, and coaching little league baseball.
        <br>
        <br>
        More information.....
    </p>
</div>
</body>

<style>

     body div p{
         overflow: hidden;


         alignment: right;
         height:10%;

     }
    body div img {
        margin-left: 10%;
        margin-top: 5%;
        width: 20%;
        -webkit-transform:rotate(90deg);
        border: 1px;
        padding-top: 35px;
        height:100%;
    }
    .infoholder{
        margin-left: 30%;
        margin-top: -15%;
    }
</style>
</html>